<!DOCTYPE html>
<html>

<head>
    <base target="_top">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Lato:light' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/styles/google-css-addon.css">
    <link rel="stylesheet" href="../static/styles/cayman.css">
    <link rel="stylesheet" href="../static/styles/stylesheet.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
<section class="page-header">
    <h1 class="project-name">TDOT GI Project<sub style="font-size:13px;">0.0.1</sub></h1>

    <div id="paramdiv">
        <br>
        <h2 class="project-tagline" style="font-weight: 200; line-height: 0px;">Enter your parameters:</h2>
        <table id="parametertable" class="parametertable" width="100%">
            <tr>
                <td valign="top">
                    Type of GI:
                    <p>
                        <select class="search_select" id="typegi">
                            <option class="search_option" value="dryretentionbasin">Dry Retention Basin</option>
                            <option class="search_option" value="wetretentionbasin">Wet Retention Basin</option>
                            <option class="search_option" value="naturalizedbasin">Naturalized Basin</option>
                        </select>
                </td>
                <td valign="top">
                    Volume in acre feet:
                    <p>
                        <input id="volgi">
                </td>
                <td valign="top">
                    Amount of water being collected:
                    <p>
                        <input id="amountwater">
                </td>
                <td valign="top">
                    Are you planning to use the water?:
                    <p>
                        <select class="search_select" id="usewater">
                            <option class="search_option" value="yes">Yes</option>
                            <option class="search_option" value="no">No</option>
                        </select>
                </td>
                <td valign="top">
                        <a href="javascript:;" type="submit" class="btn" id="submit_search_button">Submit</a>
                </td>
            </tr>
        </table>

        <!--
        Slider code within the following table is not mine and may be found here:
        https://codeconvey.com/pure-css-range-slider-with-2-handles/
        -->
    </div>

</section>
<br>
<div class='real-body' id='real-body' style="display: none;">
    <div id="output"></div>
</div>

<footer class="site-footer">
    <span class="site-footer-credits">View this site's <a target="_blank"
                                                          href="https://github.com/dakilaledesma/tdot-project">source code</a>. </span>
</footer>
<br>


</body>

<script>
    $('#submit_search').on('click', '#submit_search_button', function () {
        var div = $("#output");
        var typegi = $("#typegi");
        var volgi = $("#volgi");
        var amountwater = $("#amountwater");
        var usewater = $("#usewater");

        div.html('Calculating. Please wait, this may take some time.');

        $.ajax({
            url: "/predict",
            type: "get",
            data: {
                typegi: typegi,
                volgi: volgi,
                amountwater: amountwater,
                usewater: usewater,
            },
            dataType: "json",
            async: true,
            success: function (data) {
                search_indices = data.returns[2]
                $('#output').html(data.returns[1]);
            }
        });


    });
</script>

</html>
